<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-10">
    <%= image_tag(@idea.picture_url, width: '100%') if @idea.picture.present? %>
  </div>

  <div class="col-md-2">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.description %></p>
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', ideas_path %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h3>Comments</h3>
    <% @comments.each do |comment| %>
      <div class="row">
        <div class="col-md-3 text-right">
          <strong><%= comment.user_name %></strong>
          <br>
          <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="col-md-9">
          <p><%= comment.body %></p>
        </div>
      </div>
      <br>
    <% end %>
    <br>
    <br>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
</div>
